# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [4]:
number = 6

print(number)

6

##### Assinging float

In [5]:
numberfloat = 2.3
print(numberfloat)
print(numberfloat)
numberfloat = 7.2
print(numberfloat)

2.3
2.3
7.2

#### Performing Calculations on ints and floats

##### Addition

In [6]:
num1 = 2
num2 = 5.4

result = num1 + num2

print(result)

# result += 2
print(result + 2)

7.4
9.4

##### Subtraction

In [11]:
result_diff = num2 - num1
print(result_diff)

result_diff -= 1
print(result_diff - 1)

3.4000000000000004
1.4000000000000004

##### Multiplication

In [12]:
result_mul = num1 * num2
print(result_mul)

result_mul *= 2
print(result_mul)
print(result_mul * 2)

10.8
21.6
43.2

##### Division

In [13]:
result_div = num2 / num1
print(result_div)

result_div /= 3
print(result_div)
print(result_div / 2)

2.7
0.9
0.45

##### Floor Division

In [14]:
result_floor = num2 // num1
print(result_floor)
# round down

result_floor //= 2
print(result_floor)

2.0
1.0

##### Modulo

In [16]:
result_mod = 10 % 3
print(result_mod)
# gives us left over odds give 1 even gives 0
result_mod = 10 % 2
print(result_mod)

result_mod %= 2
print(result_mod)

1
0
0

##### Exponential

In [17]:
square = 5 ** 2
print(square)

square **= 2
print(square)

25
625

### String Input-Output

##### String Assignment

In [18]:
name = "Brandon"
print(name)

Brandon

##### print() <br>
<p>Don't forget about end=' '</p>

In [22]:
print("This is my first name:", name)

print("Full name: ",name, end=" Apol")

This is my first name: Brandon
Full name:  Brandon Apol

##### String Concatenation

In [23]:
first_name = "John"
last_name = "Smith"

full_name = first_name + " " + last_name
print(full_name)

full_name += ", Jr"
print(full_name)

John Smith
John Smith, Jr

##### Type Conversion

In [25]:
number = "32"

change_type_num = int(number)
print(number)
print(change_type_num + 5)

32
37

##### input()

In [26]:
# input always returns a string 

# name = input("what is your name? ")
# print("Nice to meet you, " + name)

age = int(input("What is your age?: "))
add_age = age + 5
print(add_age)

What is your age?: 10
15

##### format()

In [27]:
age = input("What is your age? ")

resulting_string = "You are {} {} and you are getting wiser!".format(age, name)
print(resulting_string)

result_again = f"{age} is a great time in life!!!"
print(result_again)

What is your age? 22
You are 22 Brandon and you are getting wiser!
22 is a great time in life!!!

##### Old Way (python 2)

In [28]:
result_string2 = "You are %s and you look great for your age!" %age
print(result_string2)

You are 22 and you look great for your age!

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [32]:
color = input("What is the color of your vehicle? ")
year = int(input("What year was your car made? "))
make = input("Who is the maker of the vehicle? ")
model = input("What model is it? ")

car_results = f"Wow! You drive a {color} {year} {make} {model} that is one awesome car!"
print(car_results)

What is the color of your vehicle? Silver
What year was your car made? 2016
Who is the maker of the vehicle? Ford
What model is it? Explorer
Wow! You drive a Silver 2016 Ford Explorer that is one awesome car!

### If Statements

In [60]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1 = 10
num2 = 5
num3 = 12

if num2 < num1 or num3 > 0:
    print("This ran!")
else:
    print("You are here!")

This ran!

##### 'is' keyword

In [61]:
# The "is" keyword is for checking for the same object, but not the same value 

num3 = 55

if num3 == 55:
    print("This is the exact number/object")

This is the exact number/object

##### 'in' keyword

In [62]:
# Check if a character is in a string

char_nam = "Frodo Baggins"

if "Frodo" in char_nam:
    print("The ring bearer")

The ring bearer

##### 'not in' keyword'

In [63]:
sega_char = "Sonic"

if 'a' not in sega_char:
    print('a is Not here...')

a is Not here...

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [1]:
name = input("What is your input? ")
if "p" not in name.lower():
    print("False! This does not contain the the key we need!")
else:
    print("True! You may pass chosen one!")

What is your input? ;
False! This does not contain the the key we need!

## Using 'and'/'or' with If Statements

In [77]:
num11 = 15
num12 = 3
num13 = 10
num14 = 3

# If with 'and' statement
if num11 / 5 == num12 and num13 - 7 == num14:
    print("True and True")

#If with 'or' statement
if num13 == num14 or num11 > num12:
    print("False and True")

True and True
False and True

### Elif Statements

In [80]:
first_name = input('What is your name? ')

if first_name == 'Smith':
    print('The name is Smith')
elif first_name == 'Nermin':
    print('The name is Nermin')
elif first_name != 'Max':
    print('This is not Max')
else:
    print('This is Max')

What is your name? jim
This is not Max

### Else Statements

In [ ]:
# see above

### For Loops

In [76]:
#Syntax:
# for counter in condition

name = "Nermin Muratovic"
a_list = [1, 2, 3, 4]

for i in name:
    print(i)
    
for n in a_list:
    print(n)

N
e
r
m
i
n

M
u
r
a
t
o
v
i
c
1
2
3
4

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [87]:
for i in range(20):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [ ]:
# will break out of current loop

In [86]:
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [81]:
name = "Nermin Muratovic"

for i in name:
    pass

##### Double For Loops

In [83]:
for i in range(5):
    for j in range(5):
        print('i = ', i, 'j = ', j)

i =  0 j =  0
i =  0 j =  1
i =  0 j =  2
i =  0 j =  3
i =  0 j =  4
i =  1 j =  0
i =  1 j =  1
i =  1 j =  2
i =  1 j =  3
i =  1 j =  4
i =  2 j =  0
i =  2 j =  1
i =  2 j =  2
i =  2 j =  3
i =  2 j =  4
i =  3 j =  0
i =  3 j =  1
i =  3 j =  2
i =  3 j =  3
i =  3 j =  4
i =  4 j =  0
i =  4 j =  1
i =  4 j =  2
i =  4 j =  3
i =  4 j =  4

### While Loops

In [88]:
#Syntax:
#while keyword, condition statement

num = 0

while num < 10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [89]:
game_over = True

while game_over:
    print('Infinite Loop')
    user_input = input('Would you like to stop? ')
    if user_input == 'Yes':
        game_over = False

Infinite Loop
Would you like to stop? no
Infinite Loop
Would you like to stop? no
Infinite Loop
Would you like to stop? Yes

##### While & For Loops Used Together

In [100]:
num = 0

while num < 5:
    print("\n While loop iteration " + str(num))
    
    for i in range (2):
        print("For loop interation: ", str(i + 1))
    
    num += 1

 While loop iteration 0
For loop interation:  1
For loop interation:  2

 While loop iteration 1
For loop interation:  1
For loop interation:  2

 While loop iteration 2
For loop interation:  1
For loop interation:  2

 While loop iteration 3
For loop interation:  1
For loop interation:  2

 While loop iteration 4
For loop interation:  1
For loop interation:  2

### Built-In Functions

##### range()

In [101]:
# range(start, stop, step)

for i in range(1, 20, 2):
    print(i)

1
3
5
7
9
11
13
15
17
19

##### len()

In [103]:
name = input('Give me the name of you favorite book: ')

length = len(name)
print(length)

Give me the name of you favorite book: Lord of the rings
17

##### help()

In [104]:
# Use this function to view more info about a python function

help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

##### isinstance()

In [106]:
# Check a variable to find out what object family (or data type) it belongs to
# isinstance(var, type)

num = 4
if isinstance(num, int):
    print(f"{num} is an int!")
else: 
    print(f"{num} is a float!")

4 is an int!

##### abs()

In [107]:
# absolute of a number |-5| = 5

print(abs(-5))

5

### Try and Except

In [116]:
# Use this to log out graceful and useful error messages
# Does not stop the program!

try:
    input_num = int(input('Guess a number '))
    print('Your number is ' + str(input_num))
except:
    print("That didn't work! Change your input to a number!")

Guess a number 20
Your number is 20

### Lists

##### Declaring Lists

In [1]:
list_1 = []

names = ['Max', 'Cindy', 'Kathy', 'bob', 'Nate']
print(names)

['Max', 'Cindy', 'Kathy', 'bob', 'Nate']

##### Indexing a List

In [2]:
# list_names[start: stop: step]

# Single Index
print(names[1])

# Print starting at index 1 going to the end
print(names[1:])

# Print starting at the begining of a list up until a number
print(names[:2])

# Print starting at index 1 and going up by 2 in each iteration
print(names[1::2])

# Print starting at the nack and display in reverse order
print(names[::-1])

Cindy
['Cindy', 'Kathy', 'bob', 'Nate']
['Max', 'Cindy']
['Cindy', 'bob']
['Nate', 'bob', 'Kathy', 'Cindy', 'Max']

##### .append()

In [3]:
names.append('Brandon')
print(names)

['Max', 'Cindy', 'Kathy', 'bob', 'Nate', 'Brandon']

##### .insert()

In [4]:
names.insert(3,'Devon')
print(names)

['Max', 'Cindy', 'Kathy', 'Devon', 'bob', 'Nate', 'Brandon']

##### .pop()

In [5]:
# Defaults to the last value if no parameter is given 
# Pop returns the element that was removed in case you want to assign it to a variable

my_name = names.pop(2)
print(my_name)
print(names)

Kathy
['Max', 'Cindy', 'Devon', 'bob', 'Nate', 'Brandon']


##### .remove()

In [ ]:
# Value to be removed rahter than index
# names.remove('bob')
# print(names)

# remove multiple brandons from a list
while 'Brandon' in names:
    names.remove('Brandon')
print(names)

##### del()

In [ ]:
# Goes by index, rather than value 
# Be careful with del, it can cause indexing errors if not used carefully

del(names[1])
print(names)

##### Concatenating Two Lists

In [6]:
# Will apped two lists togehter, will NOT add the values!!!

list_2 = [0, 1, 2]
list_3 = [3, 4, 5]

large_list = list_2 + list_3
print(large_list)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [7]:
# Lists can hold ANY type of other element! Including other lists!
# They can go as deep as you want; this is called nested lists

names = ["Max", "sam", "Josh", ["Sally", ["Sue", "Jim"], "Tameka"]]
print(names)
print(names[3][1][1])

['Max', 'sam', 'Josh', ['Sally', ['Sue', 'Jim'], 'Tameka']]
Jim

##### Looping Through Lists

In [8]:
# Two ways to loop through a list! One is by index; the other is by using the 'in' keyword

# By index
for i in range(len(names)):
    print(names[i])
    
# Loop with 'in'
for i in names:
    print(i)

Max
sam
Josh
['Sally', ['Sue', 'Jim'], 'Tameka']
Max
sam
Josh
['Sally', ['Sue', 'Jim'], 'Tameka']

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [ ]:
x = 0
while x < 1000:
    print(x**3)
    x += 1
    if x**3 > 1000:
        break

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [ ]:
for prime in range (1, 101):
    number = 0
    for i in range(2, (prime//2 + 1)):
        if(prime % i == 0):
            number = number + 1
            break
    if (number == 0 and prime != 1):
        print(prime)

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [ ]:
age = input("What is your age? ")
if int(age) < 18:
    print("Kids")
elif int(age) >= 18 and int(age) <= 65:
    print("Adults")
else:
    print("Seniors")